{% load static %}
{% include 'header.html' %}
{% include 'nav.html' %}


<main>

        <section class="home" id="home">
            <div>
                <div class="home-img">
                    <img src="{% static 'assert/img/home.jpg' %}" alt="">
                    <div class="home-text"><span class="one">The Precision Difference </span>
                        <br>Excellence in Commercial Cleaning and
                        <br>Disinfecting Services</div>
                </div>

                <div class="home-2">
                    <div>
                        <p><span class="one">Provide a <span class="three">Healthier</span> Environment for Your Customers and Employees </span><br>
                            <span class="two">With Commercial Cleaning & Disinfecting Services from Precision Unit Franchisees <br>
                             <span class="home-2-none" style="color: rgb(175, 175, 175);;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam alias iusto corrupti commodi laudantium porro corporis nulla saepe! Quasi, molestiae.</span></p>
                    </div>
                    <a href="/quote/"><button type="button" class="btn btn-warning">Request A Quote</button></a>
                </div>
            </div>
        </section>




        <section>
            <div class="cht-box-all">
                <div class="chat-box" id="open-form">
                    <div class="chat-form">
                        <div><button class="cancel" id="cancel-form"><i class="fa-solid fa-xmark"></i></button></div>
                        <div class="head">
                            <h3>I am offline, but still available <br>to assist via email.</h3>

                            <p>Typically responds in under 4 hours</p>
                        </div>
                        <div class="body">
                            <h5 class="one">Hi...<br>How can i help you?</h5>
                            <div class="last"><input type="email" placeholder="Enter your message here" required>
                                <button>Submit</button>
                            </div>
                        </div>


                    </div>
                </div>
                <br>
                <a href="" class="c-w-us" id="chat-me" ><i class="fa-solid fa-comment-dots"></i>Chat With Us</a>
            </div>
        </section>




         <section class="service" id="service">
            <div class="text">
                <p class="text">Our <span class="one">Services:</span></p>
            </div>
            <div class="row ">
                <div class="col-sm">
                    <h3><i class="fa-solid fa-snowflake"></i><a href="">Commercial Cleaning</a></h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat animi ut obcaecati explicabo beatae nobis, culpa provident? Ipsa, suscipit perferendis!</p>
                </div>
                <div class="col-sm">
                    <h3><i class="fa-solid fa-earth-americas"></i><a href="">Janitorial Services</a></h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat animi ut obcaecati explicabo beatae nobis, culpa provident? Ipsa, suscipit perferendis!</p>
                </div>
                <div class="col-sm">
                    <h3><i class="fa-brands fa-pagelines"></i><a href="">Green Cleaning</a></h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat animi ut obcaecati explicabo beatae nobis, culpa provident? Ipsa, suscipit perferendis!</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    <h3><i class="fa-solid fa-unlock-keyhole"></i><a href="">Office Cleaning</a></h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat animi ut obcaecati explicabo beatae nobis, culpa provident? Ipsa, suscipit perferendis!</p>
                </div>
                <div class="col-sm">
                    <h3><i class="fa-solid fa-dumbbell"></i><a href="">Carpet Clening </a></h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat animi ut obcaecati explicabo beatae nobis, culpa provident? Ipsa, suscipit perferendis!</p>
                </div>
                <div class="col-sm">
                    <h3><i class="fa-solid fa-cart-plus"></i><a href="">Medical Grade </a></h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat animi ut obcaecati explicabo beatae nobis, culpa provident? Ipsa, suscipit perferendis!</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    <h3><i class="fa-solid fa-truck"></i><a href="">Hard Floor</a></h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat animi ut obcaecati explicabo beatae nobis, culpa provident? Ipsa, suscipit perferendis!</p>
                </div>
                <div class="col-sm">
                    <h3><i class="fa-solid fa-hands"></i><a href="">Post-Construction</a></h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat animi ut obcaecati explicabo beatae nobis, culpa provident? Ipsa, suscipit perferendis!</p>
                </div>
                <div class="col-sm">
                    <h3><i class="fa-solid fa-award"></i><a href="">Franchising</a></h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat animi ut obcaecati explicabo beatae nobis, culpa provident? Ipsa, suscipit perferendis!</p>
                </div>
            </div>

         </section>



         <section class="count" id="count">
            <div class="row">
                <div class="col-md">
                    <h1><span class="two">12000+ </span><br><span class="one">Customers of Precision Unit Franchisees</span></h1>
                </div>
                <div class="col-md">
                    <h1><span class="two">90+ </span><br><span class="one">Sqft Cleaned on a Routine Basis</span></h1>
                </div>
                <div class="col-md">
                    <h1><span class="two">450+ </span><br><span class="one">Unit Franchisees</span></h1>
                </div>
                <div class="col-md">
                    <h1><span class="two">#1 </span><br><span class="one">Ranked Fastest Growing Franchise</span></h1>
                </div>
            </div>
         </section>

         <br><br>

         <section class="service-2" id="service-2">
            <div class="service-2-heading">
                <h1>High-Quality Commercial <br><span class="one">Janitorial Services</span></h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum consequuntur, assumenda perferendis, ex impedit dolorum iste nulla aut accusantium autem fugit suscipit quos necessitatibus illo provident eaque accusamus aliquam sed quibusdam deleniti iure! Reiciendis maxime, suscipit autem eligendi labore quod voluptatem alias numquam sit distinctio nisi quo amet, quos fugit tempora mollitia unde fuga necessitatibus, odit ipsam! Tenetur, doloremque quae?</p>
                <br>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam sint eum eos temporibus perspiciatis. Pariatur, quas ad. Consectetur quos tenetur obcaecati deserunt voluptatem eveniet recusandae tempora natus, ut assumenda quia.</p>
                <br>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Porro nulla placeat illum impedit! Illum quos, asperiores minus blanditiis ex quisquam.</p>
            </div>
            <div class="ser-2-img">
                <img src="{% static 'assert/img/service-2-2.png' %}" alt="">
            </div>
         </section>



         <section class="local-office" id="local-office">
            <h2>Find Your Local Office
                <br>Request More Information <span class="one">Today!</span></h2>
                <br>
                <div>
                    <button class="btn btn-danger">Find A Location</button>
                </div>
                <br>

         </section>


         <section>
            <div>
                <div class="facility">
                    <div class="main">
                        <i class="fa-solid fa-street-view"></i>
                        <h3>Trained Professionals</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus, vitae!</p>
                    </div>
                    <div class="main">
                        <i class="fa-solid fa-person-running"></i>
                        <h3>Custom Cleaning Plans</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus, vitae!</p>
                    </div>
                    <div class="main">
                        <i class="fa-solid fa-temperature-three-quarters"></i>
                        <h3>Eco-Friendly Products</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus, vitae!</p>
                    </div>
                    <div class="main">
                        <i class="fa-brands fa-sourcetree"></i>
                        <h3>Satisfaction Guaranteed</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus, vitae!</p>
                    </div>
                </div>
            </div>
          </section>






         <section class="quality" id="quality">
            <div class="qty-img">
                <div><img src="{% static 'assert/img/quality-1.jpg' %}" alt=""></div>
            </div>

            <div class="text">
                <h1>World-Class Green Commercial Cleaning</h1>
                <p><i class="fa-solid fa-cannabis"></i>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque explicabo possimus sunt assumenda necessitatibus? Eius aperiam libero eos omnis alias blanditiis nulla, minus aspernatur aut quisquam voluptate, molestias illo praesentium</p>
                <p><i class="fa-solid fa-cannabis"></i>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque explicabo possimus sunt assumenda necessitatibus? Eius aperiam libero eos omnis alias blanditiis nulla, minus aspernatur aut quisquam voluptate, molestias illo praesentium</p>
                <p><i class="fa-solid fa-cannabis"></i>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque explicabo possimus sunt assumenda necessitatibus? Eius aperiam libero eos omnis alias blanditiis nulla, minus aspernatur aut quisquam voluptate, molestias illo praesentium</p>
            </div>
          </section>



          <div class="plan-head">
            <h1>Why Choose Us?</h1>
        </div>

         <section class="plan" id="plan">
            <div class="row">
                <div class="col-sm">
                    <a href=""><h2><i class="fa-solid fa-handshake"></i>Trained Professionals:</h2></a>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis in molestias dolores nesciunt unde dolorem, ratione veniam vero cumque modi!</p>
                </div>
                <div class="col-sm">
                    <a href=""><h2><i class="fa-solid fa-handshake"></i>Custom Cleaning Plans:</h2></a>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis in molestias dolores nesciunt unde dolorem, ratione veniam vero cumque modi!</p>
                </div>
                <div class="col-sm">
                    <a href=""><h2><i class="fa-solid fa-handshake"></i>Eco-Friendly Products:</h2></a>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis in molestias dolores nesciunt unde dolorem, ratione veniam vero cumque modi!</p>
                </div>
                <div class="col-sm">
                    <a href=""><h2><i class="fa-solid fa-handshake"></i>24/7 Availability:</h2></a>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis in molestias dolores nesciunt unde dolorem, ratione veniam vero cumque modi!</p>
                </div>
                <div class="col-sm">
                    <a href=""><h2><i class="fa-solid fa-handshake"></i>Satisfaction Guaranteed:</h2></a>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis in molestias dolores nesciunt unde dolorem, ratione veniam vero cumque modi!</p>
                </div>
            </div>
         </section>




          <section class="row" id="contact">
            <div class="cont-frm">
                <h3>Contact Us!</h3>
            <div class="mb-3 col-4">
                <label for="first-name" class="form-label">First Name</label>
                <input type="email" class="form-control" id="first-name" placeholder="Enter your first name">
              </div>
              <div class="mb-3 col-4">
                <label for="last-name" class="form-label">Last Name</label>
                <input type="email" class="form-control" id="last-name" placeholder="Enter your last name">
              </div>
              <div class="mb-3 col-4">
                <label for="email" class="form-label">Email address</label>
                <input type="email" class="form-control" id="email" placeholder="name@example.com">
              </div>
              <div class="mb-3 col-4">
                <label for="phone-number" class="form-label">Phone Number</label>
                <input type="email" class="form-control" id="phone-number" placeholder="Enter your phone number">
              </div>
              <div class="mb-3 col-4">
                  <label for="msg-here" class="form-label">Message</label>
                <textarea class="form-control" id="text-area" rows="3" placeholder="Enter your message!"></textarea>
              </div>
              <button type="submit" class="btn btn-primary col">Submit</button>
            </div>
          </section>






          <section class="call" id="call">
            <div class="call-now">
                <h3>Get A Free Quote <span class="two">Today!</span>  <span class="one"><i class="fa-solid fa-phone-volume"></i>  (888) 981-8812 </span><br>
                    Call us today and receive a free quote on customized janitorial services</h3>
                    <br>
                    <a href="/quote/"><button>Request A Quote</button></a>
            </div>

          </section>



    <section id="map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3886.521666884061!2d80.20350257511294!3d13.066090687258066!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a5266bc921ecb3d%3A0x71bed8853f7ceaad!2skoyambedu%20bus%20terminus%2C%20Koyambedu%2C%20Chennai%2C%20Tamil%20Nadu%20600107!5e0!3m2!1sen!2sin!4v1743400772009!5m2!1sen!2sin" width="1610" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </section>


    </main>


{% include 'footer.html' %}